html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Poppins';

}

.mt-10 {
    margin-top: 10px;
}

.d-flex {
    display: flex
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.mb-30{
    margin-bottom: 30px;
}

$sizes: 10px, 20px, 30px;

@each $size in $sizes {
  .ml-#{$size} {
    margin-left: $size;
  }
}

.text-white {
    color: white ;
}

.bold {
    font-weight: bold;
}

.margin-auto {
    margin: 0 auto;
}

.ml-10 {
    margin-left: 10px !important;
}

.btn-large  {
    padding: 10px 30px;
}