html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Poppins';

}

.mt-10 {
    margin-top: 10px;
}

.d-flex {
    display: flex
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.mb-30{
    margin-bottom: 30px;
}

.text-white {
    color: white ;
}

.bold {
    font-weight: bold;
}